/CodeForce/Array/*.class
/CodeForce/String/*.class
/CodeForce/Sheet_1/*.class
/CodeForce/Sheet_2/*.class
/Beecrowd/*.exe
/HackerRank/String/*.class
/HackerRank/Sorting/*.class
/LeetCode/Array/*.class
